{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "PK = :pk AND begins_with(SK, :dwellingPrefix) AND isDeleted = :notDeleted",
    "expressionValues": {
      ":pk": { "S": "SUB#$context.identity.sub" },
      ":dwellingPrefix": { "S": "DWELLING#" },
      ":notDeleted": { "BOOL": false }
    }
  }
}
