{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "PK": { "S": "SUB#$context.identity.sub" },
    "SK": { "S": "DWELLING#$ctx.args.id" }
  },
  "update": {
    "expression": "SET #name = :name, #dwellingType = :dwellingType",
    "expressionNames": {
      "#name": "name",
      "#dwellingType": "dwellingType"
    },
    "expressionValues": {
      ":name": { "S": "$ctx.args.input.name" },
      ":dwellingType": { "S": "$ctx.args.input.dwellingType" }
    }
  }
}
